html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: #1fa4b6;
}
#map-canvas {
    height: 50%;
    width: 50%;
    margin: 0 auto;
    border: 0.5em solid #1ABC9C;
}
}
#mask {
    display: none;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 999;
}
.login-popup, .signup-popup {
    display: none;
    background: #fff;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 10px;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99999;
    font-color: #000;
}

img.btn_close {
    /*Position the close button */

    float: right;
    margin: -28px -28px 0 0;
    height: 50%;
    width: 50%;
}
fieldset {
    border: none;
    width: 98%;
}
form.signin .textbox label {
    display: block;
    padding-bottom: 7px;
}
form.signin .textbox span {
    display: block;
}
form.signin p, form.signin span {
    color: #999;
    font-size: 11px;
    line-height: 18px;
}
form.signin .textbox input {
    background: #fff;
    border-bottom: 1px solid #333;
    border-left: 1px solid #000;
    border-right: 1px solid #333;
    border-top: 1px solid #000;
    color: #000;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 6px 6px 4px;
}
form.signin input:-moz-placeholder {
    color: #18bc9c;
    /*text-shadow: 0 0 2px #000;*/
}
form.signin input::-webkit-input-placeholder {
    color: #18bc9c;
    /*text-shadow: 0 0 2px #000;*/
}
.button {
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #333;
    cursor: pointer;
    display: inline-block;
    padding: 6px 6px 4px;
    margin-top: 10px;
    font: 12px;
    width: 214px;
}
.button:hover {
    background: #ddd;
}

.button.submit.btn{

}
#restaurants {
    margin-top: 20px;
    width: 200px;
}
.body-color {
    #1fa4b6;
}
.profiles {
    padding: 10px;
    position: relative;
    float: left;
    border: 1px black solid;
    border-radius: 5px;
    margin: 0px 50px 20px 0;
    background: #fff;
}

#profile-list{
  text-align: center;
  position: relative;
  top: 10px;
  left: 50%;
  transform: translate(-37%,0);
  margin-bottom: 20px;
}

/*ul li.profiles:nth-child(3n){
    padding:0;
}*/

.profiles img{
  border: 2px black solid;
  border-radius: 5px;
}

.single-profile{
  background: #fff;
  margin-top: 150px;
  border: 2px solid black;
  border-radius: 5px;
}

.single-profile img{
  position: relative;
  top: 25px;
  left: 50%;
  transform: translate(-50%,0);
  border: 2px black solid;
  border-radius: 50%;
  width: 150px;
}

.single-profile h1{
  text-align: center;
  padding: 20px;
}

.rest-list{
  width: 300px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.rest-list li{
  margin-left: 12.5%;
}

#rest-container{
  margin-top: 120px;
  border: 4px #EE745A solid;
}

#rest-container ul{
  position: relative;
  left: 50%;
  margin-top: 30px;
  transform: translate(-37%,0);
}

.rest-profiles {
    padding: 20px;
    position: relative;
    border-radius: 5px;
    float: left;
    border: 1px black solid;
    margin: 0px 50px 20px 0;
    background: #fff;
    height: 200px;
    width: 200px;
}

.rest-profiles img{
  position: relative;
  left: 50%;
  transform: translate(-50%,0);
  border: 2px black solid;
  border-radius: 5px;
}

.rest-profiles a{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%,0);
  width: 150px;
  text-align: center;
}

#profile-container{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
}

a.prof-link{
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
}

.user-buttons {
    font-size: 1.5em
}
#intro-id {
    margin-top: -30px;
}
/*end*/

body {
    overflow-x: hidden;
}
p {
    font-size: 20px;
}
p.small {
    font-size: 16px;
}
a, a:hover, a:focus, a:active, a.active {
    outline: 0;
    color: #18bc9c;
}
h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}
hr.star-light, hr.star-primary {
    margin: 50px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}
hr.star-light:after, hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}
hr.star-light {
    border-color: #fff;
}
hr.star-light:after {
    color: #fff;
    background-color: #18bc9c;
}
hr.star-primary {
    border-color: #2c3e50;
}
hr.star-primary:after {
    color: #2c3e50;
    background-color: #fff;
}
.img-centered {
    margin: 0 auto;
}
header {
    text-align: center;
    color: #fff;
    background: #1fa4b6;
}

header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}

header .row{
  margin: -100px -15px 100px -15px;
}

header .row a {
  color: white;
}

.user-buttons.btn.btn-success {
  width:200px;
  margin: 20px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}
header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2em;
    font-weight: 700;
}
header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}

header .container {
    padding-top: 200px;
    padding-bottom: 100px;
}
header .intro-text .name {
    font-size: 4.75em;
}
header .intro-text .skills {
    font-size: 1.75em;
}



.navbar-fixed-top {
    padding: 25px 0;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
}
.navbar-fixed-top .navbar-brand {
    font-size: 2em;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
.navbar-fixed-top.navbar-shrink {
    padding: 10px 0;
}
.navbar-fixed-top.navbar-shrink .navbar-brand {
    font-size: 1.5em;
}

.navbar {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}
.navbar a:focus {
    outline: 0;
}
.navbar .navbar-nav {
    letter-spacing: 1px;
}
.navbar .navbar-nav li a:focus {
    outline: 0;
}
.navbar-default, .navbar-inverse {
    border: 0;
}
section {
    padding: 100px 0;
}
section h2 {
    margin: 0;
    font-size: 3em;
}
section.success {
    color: #fff;
    background: #18bc9c;
}


.page-container.prof{
  background: url("../img/sos.png");
  border: 4px #EE745A solid;
  margin-top: 120px;
  margin-bottom: 20px;
}

.page-container.rest{
  background: url("../img/sos.png");
  border: 4px #EE745A solid;
  margin: 120px 100px;
}


/*Restaurant single page*/
#map-canvas{
  width: 90%;
  height: 300px;
  margin-top: 20px;
}


.restaurant-header.well{
  border: 2px black solid;
  border-radius: 5px;
  margin-top: 25px;
  background: #fff;
  width: 50%;
  margin: 25px auto;
}

.restaurant-header img{
  position: relative;
  left: 50%;
  transform: translate(-50%,0);
  border: 2px black solid;
  border-radius: 50%;
}

.restaurant-header h1, p, form, h3{
  text-align: center;
}

.restaurant-header form button{
  margin-top: 10px;
  width: 150px;
}

#previous_diners{
  text-align: center;
  margin-top: 35px;
}

#previous_diners ul.list-unstyled.list-inline li{
  margin-top: 20px;
}

.custom-sidebar{
  background: url("../img/p1.png");
  height: 100vh;
}