<div id="login-box" class="login-popup">
<a href="/" class="close"><img src="img/close.png" class="btn_close" title="Close Window" alt="Close" /></a>
  <form method="post" class="signin" action="/login">
    <fieldset class="textbox">
    <label class="username">
    <input type="text" name="email" placeholder="Email" autocomplete="on" >
    </label>
    <label class="password">
    <input id="password" name="password" value="" type="password" placeholder="Password">
    </label>
    <button class="submit button btn btn-info" type="submit" value="login">Sign in</button>
    <p>
    <a class="forgot" href="#">Forgot your password?</a>
    </p>
    </fieldset>
  </form>
</div>