<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header page-scroll">
      <a class="navbar-brand" href="/">DBC Food Finder</a>
    </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="page-scroll">
            <a href="/profiles/all">Profiles</a>
          </li>
          <li class="page-scroll">
            <a href="/restaurants/all">Food!</a>
          </li>
          <%if current_user%>
            <li class="page-scroll" >
              <a href="/profile/<%=current_user.id%>">| <%= current_user.name %> |</a>
            </li>
          <%end%>
        </ul>
      </div>
  </div>
</nav>
