<h3>Leave Rating</h3>
<div align='top'>
  <form action='/rating' method='POST'>
    <ul class="list-unstyled">
      <li>
        <input type='radio' name="rate" value=1>1
      </li>

      <li>
        <input type='radio' name="rate" value=2>2
      </li>

      <li>
        <input type='radio' name="rate" value=3>3
      </li>

      <li>
        <input type='radio' name="rate" value=4>4
      </li>

      <li>
        <input type='radio' name="rate" value=5>5
      </li>
    <button class="btn btn-success" type='submit'>Submit</button>
  </ul>
  </form>
</div>
