<h3>Leave Rating</h3>
<div align='top'>
  <form action='/rating' method='POST'>
    <input type='radio' name="rate" value=1>*<br>
    <input type='radio' name="rate" value=2>**<br>
    <input type='radio' name="rate" value=3>***<br>
    <input type='radio' name="rate" value=4>****<br>
    <input type='radio' name="rate" value=5>*****<br>
    <input type='submit'>
  </form>
</div>
