<div id="signup-box" class="signup-popup">
  <a href="/" class="close"><img src="img/close.png" class="btn_close" title="Close Window" alt="Close" /></a>

  <form action="/signup" method="post" class="signin">
    <fieldset class="textbox">
    <label class="username">
      <input type="text" name="user[name]" placeholder="username">
    </label>

    <label class="email">
      <input type="text" name="user[email]" placeholder="email">
    </label>

    <label class="password">
    <input type="password" name="user[password]" placeholder="password">
    </label>

    <label class="password">
      <input type="password" name="user[password_confirmation]" placeholder="confirm password">
    </label>
    <button class="submit button btn btn-info" type="submit" value="create account">Sign Up</button>
   </fieldset>
  </form>
</div>
