<br>
<br>
<br>
<br>
<br>
<br>


<h1>Welcome, <%= @user.name %></h1>




<ol>
  <% @restaurants.each do |rest| %>
    <li><a href="/restaurant/<%= rest.id%>"><%= rest.name %><%= average_rating(rest)%></a></li>
  <% end %>
</ol>
