
<header>
  <div class="container">
   <div class="row">
    <div class="col-lg-12">
      <img class="img-responsive" src="img/portfolio/cake.png" alt="">
      <div class="intro-text" id="intro-id">
       <span class="skills">Find the best (and cheapest) food in the hood</span>
       <hr class="star-light">
       <% if current_user %>
         <span class="user-buttons"><a href="/logout">Logout</a></span>
       <% else %>
         <span class="user-buttons"><a href="#login-box" class="login-window">Login</a></span> | <span class="user-buttons"><a href="/signup">Signup</a></span>
       <% end %>
      </div>
    </div>
   </div>
  </div>
</header>



<%= erb :_login_form %>




