
<header>
  <div class="container">
   <div class="row">
    <div class="col-lg-12">
      <div class="intro-text">
       <span class="name">DBC Food Finder</span>
       <hr class="star-light">
       <span class="skills">Find the best (and cheapest) food in the hood</span>
      </div>
    </div>
   </div>
  </div>
</header>

<% if current_user %>
  <a href="/logout">Logout</a>
<% else %>
  <a href="#login-box" class="login-window">Login</a> | <a href="/signup">Signup</a>
<% end %>

<%= erb :_login_form %>




