<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">

  <%= css :application %>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
  <script src="/js/google_maps.js"></script>
  <script src="/js/popups.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <%= erb :_nav %>

  <% if session[:user_id]%>
    <a href="/home">home</a>
    <a href="/logout">logout</a>
  <% else %>
    <p> "you're not signed in" </p>
  <% end %>

  <%= yield %>
</body>
</html>

