<br>
<br>
<br>
<br>
<br>
<br>

<div class="col-md-3">
</div>
  <% @users.each do |user| %>
  	<div class ="profiles">
    	<img src = "<%=Gravatar.new(user.email).image_url%>"><br>
    	<a href="/profile/<%= user.id%>"><%= user.name %></a><br>
  	</div>
  <% end %>
