<div class="custom-sidebar col-sm-2"></div>
<div class="page-container prof col-sm-4 col-sm-offset-2">
  	<ul id="profile-list" class ="list-unstyled list-inline">
  <% @users.each do |user| %>
    	<li class="profiles">
        <img src = "<%=Gravatar.new(user.email).image_url%>"><br>
    	  <a class="prof-link" href="/profile/<%= user.id%>"><%= user.name %></a><br>
      </li>
  <% end %>
  	</ul>
</div>
<div class="col-sm-2"></div>
<div class="custom-sidebar col-sm-2"></div>