<h1><%= @restaurant.name %></h1>
<h3><%= @restaurant.rating %></h3>

<form action='/comments/new' method="post">
  <textarea name="comment" placeholder="enter comment"></textarea><br>
  <input type="submit" value="leave comment">
</form>

  <ol>
    <% @restaurant.customers.each do |cust| %>
    <div class="customers">
    <li><%= cust.name %></li>
    <% end %>
  </ol>

