<div id="rest-container" class="page-container prof col-md-8 col-md-offset-2">
  <ul>
    <% @restaurants.each do |rest| %>
    	<li class ="rest-profiles list-unstyled list-inline">
      	<img src = "<%=rest.picture%>">
      	<a href="/restaurant/<%= rest.id%>"><%= rest.name %></a>
    	</li>
    <% end %>
  </ul>
</div>

<div class="col-md-2"></div>

