
<form action="/signup" method="post">
  <input type="text" name="user[email]" placeholder="email">
  <input type="password" name="user[password]" placeholder="password">
  <input type="password" name="user[password_confirmation]" placeholder="confirm password">
  <input type="submit" value="signup">
</form>

