
<form action="/signup" method="post" class="sign-up-form">
    <table class="sign-up">
      <tr>
        <th colspan="2" class="sign-up-title">Sign Up</th>
      </tr>
      <tr>
        <td><label class="label" for="name">Name:</label></td>
        <td><input type="text" name="user[name]" placeholder="name"></td>
      </tr>
      <tr>
        <td><label class="label" for="name">Email:</label></td>
        <td><input type="text" name="user[email]" placeholder="email"></td>
      </tr>
      <tr>
        <td><label class="label" for="name">Password:</label></td>
        <td><input type="password" name="user[password]" placeholder="password"></td>
      </tr>
      <tr>
        <td><label class="label" for="name">Password Again:</label></td>
        <td><input type="password" name="user[password_confirmation]" placeholder="confirm password"></td>
      </tr>
      <tr>
        <th colspan="2"><input type="submit" value="create account"></th>
      </tr>
    </table>
</form>

